<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body style="font-family: Arial, sans-serif; color: #333">
    <p>Hello <%= name %>,</p>
    <p>We received a request to reset your password.</p>
    <p>
      If you made this request, copy and paste the link below into your browser:
    </p>
    <p><strong><%= resetUrl %></strong></p>
    <p>If you didn’t request this, you can ignore this email.</p>

    <hr />
    <p>
      <strong>Important:</strong> If this email is in your Spam or Junk folder,
      please mark it as <strong>"Not Spam"</strong> to receive future emails.
    </p>
  </body>
</html>
